---
import Layout from '~/layouts/PageLayout.astro';

import type { MetaData } from '~/types';

export interface Props {
  frontmatter: {
    title?: string;
    metadata?: MetaData;
  };
}

const { frontmatter } = Astro.props;

const metadata: MetaData = frontmatter.metadata || {
  title: frontmatter?.title,
};
---

<Layout metadata={metadata}>
  <section class="px-4 py-16 sm:px-6 mx-auto lg:px-8 lg:py-20 max-w-4xl">
    <header class="text-center mb-12">
        <h1 class="font-bold font-heading text-4xl md:text-6xl mb-4 text-gray-900 dark:text-white tracking-tight">
        {frontmatter.title}
        </h1>
        <div class="w-20 h-1.5 bg-primary mx-auto rounded-full"></div>
    </header>
    
    <div
      class="mx-auto prose prose-lg max-w-4xl dark:prose-invert dark:prose-headings:text-slate-300 prose-md prose-headings:font-heading prose-headings:leading-tighter prose-headings:tracking-tighter prose-headings:font-bold prose-a:text-primary dark:prose-a:text-blue-400 prose-img:rounded-2xl prose-img:shadow-2xl mt-8"
    >
      <slot />
    </div>
  </section>
</Layout>
